
<ul>
  <% @all_movies.each do |movie| %>
    <li>
      <a href="<%= "/movies/#{movie[:id]}" %>"> <%= movie[:title] %></a>
    </li>
  <%end%>

</ul>

<% if !@search%>
  <%if @page > 1%>
    <a href="<%= "/movies?page=#{@page-1}"%>">Previous Page</a>
  <% end %>
  <a href="<%= "movies?page=#{@page+1}"%>">Next Page</a>
<%end%>

